.faq {
  width: 100%;
  height: auto;

  &__image {
    background-image: url("images/pic10.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    &-overlay {
      font-size: 9rem;
      margin: 0;
      color: $white;
    }
  }
  &__info {
    margin: 30px 0;
    width: 100%;
    border-radius: 5px;
    padding: 4px;
    background-color: $grey;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    &-pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
    &--unset {
      margin: 30px 0;
      width: 100%;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
      padding: 0;
      background-color: $grey;
    }
    &-list {
      &--item {
        list-style: unset;
        font-size: 11px;
      }
    }
    &-text {
      font-size: 16px;
    }
  }
  &__div {
    display: flex;
    &--right {
    }
    &--left {
    }
    &-big {
      &--flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 5%;
      }
    }
  }
  &__hero {
    &-overlay {
      height: 700px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}
@include medium {
  .faq {
    width: 100%;
    height: auto;

    &__image {
      background-image: url("images/pic10.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 700px;
      margin: 0 auto;
      &-overlay {
        font-size: 12rem;
        color: $white;
      }
    }
    &__info {
      margin: 30px 0;
      width: 49%;

      &-pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
      &--unset {
        width: 49%;
        padding: 0;
      }
      &-list {
        &--item {
          list-style: unset;
          font-size: 11px;
        }
      }
      &-text {
        font-size: 13px;
      }
    }
    &__div {
      display: flex;
      &--right {
      }
      &--left {
      }
      &-big {
        &--flex {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 0 5%;
        }
      }
    }
  }
}
@include large {
  .faq {
    width: 100%;
    height: auto;
    margin-top: 125px;
    &__image {
      background-image: url("images/pic10.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 700px;
      margin: 0 auto;
      &-overlay {
        font-size: 15rem;
        color: $white;
      }
    }
    &__info {
      margin: 30px 0;
      width: 25%;
      border-radius: 5px;
      padding: 30px;
      background-color: $grey;
      &-pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
      &--unset {
        margin: 30px 0;
        width: 32%;

        padding: 0;
        background-color: $grey;
      }
      &-list {
        &--item {
          list-style: unset;
          font-size: 11px;
        }
      }
      &-text {
        font-size: 12px;
      }
    }
    &__div {
      display: flex;
      &--right {
      }
      &--left {
      }
      &-big {
        &--flex {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 0 5%;
        }
      }
    }
  }
}
