.header {
  // width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  height: fit-content;
  background-color: $white;
  &__nav {
    width: 70%;

    & ul,
    div {
      display: flex;
      width: 100%;
      padding: 0;
      justify-content: right;
    }
    & li {
      width: 30%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      & a {
        color: $white;
        padding: 10px;
        & a:hover {
          border: 1px solid $white;
        }
      }
    }
    &-low {
      display: flex;
      background-color: $blue;
      padding: 0 5%;
      justify-content: space-between;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;
    &-item {
      transition: ease 0.7s;

      &:hover {
        transform: scale(1.2);
        color: $orange;
      }
    }
  }
  &__image {
    height: 75px;
    &-div {
      width: 100%;
    }
  }
  &__social {
    &-bar {
      height: fit-content;
      background-color: $socialBar;
      display: flex;
      justify-content: space-between;
      padding: 0 5%;

      &--heading {
        color: $blue;
        margin: 0;
        padding: 5px;
        width: 50%;
        font-size: 1rem;
      }
    }
  }
  &__svg {
    padding-left: 2%;
    height: 40px;
    margin: 10px 0;
    &-div {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }
  }
  & ul.children {
    display: flex;
  }
}
@include medium {
  .header {
    width: 100%;

    &__nav {
      width: 50%;

      & ul,
      div {
      }
      & li {
        width: 20%;

        & a {
          & a:hover {
          }
        }
      }
      &-low {
        padding: 0 9.5%;
      }
    }
    &__list {
      &-item {
        transition: ease 0.7s;

        &:hover {
          transform: scale(1.2);
          color: $orange;
        }
      }
    }
    &__image {
      height: 75px;
      &-div {
      }
    }
    &__social {
      &-bar {
        height: fit-content;
        display: flex;
        padding: 0 9.8%;

        &--heading {
          margin: 0;
          padding: 5px;
          padding-top: 15px;
          width: 70%;
        }
      }
    }
    &__svg {
      height: 40px;
      margin: 10px 0;
      &-div {
        display: flex;
        justify-content: flex-end;
        width: 25%;
      }
    }
  }
}
