.header {
  &__nav {
  }
  &__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    &-item {
      width: 10%;
      transition: ease 0.7s;

      &:hover {
        transform: scale(1.1);
        color: $orange;
      }
    }
  }
  &__logo {
    margin-left: 1.5%;
    background-image: url("images/logo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 320px;
    height: 70px;
  }
}
