.header {
  &__nav {
  }
  &__list {
    display: flex;
    flex-direction: row;
    &-item {
      width: 10%;
      transition: ease 0.7s;

      &:hover {
        transform: scale(1.1);
      }
    }
    &-logo {
      background-image: url("images/svg/victory-property-buyers-logo.svg");
      background-repeat: no-repeat;
      //   background-position: center;
      object-fit: cover;
      width: 60%;
      height: 40px;
    }
  }
  &__logo {
    margin-left: 3%;
  }
}
