.hero {
  background-image: url("images/pic2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 900px;
  width: 100%;
  z-index: -2;
  &__overlay {
    background-color: rgba(0, 0, 0, 0.13);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-text {
      color: #fff;
      font-size: 5rem;
      text-align: center;
    }
  }
  &__bottom {
    background-color: $orange;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    &-text {
      color: #fff;
      font-size: 45px;
      text-align: center;
    }
  }
}

@include medium {
  .hero {
    &__overlay {
      &-text {
        font-size: 6rem;
        padding-left: 0;
      }
    }
    &__bottom {
      &-text {
      }
    }
  }
}
@include large {
  .hero {
    margin-top: 125px;
    &__overlay {
      &-text {
        font-size: 11rem;
        padding-left: 0;
      }
    }
    &__bottom {
      &-text {
      }
    }
  }
}
