.how {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;

  &__text {
    color: $blue;
  }
  &__div {
    margin: 0;
    &-text {
      color: $blue;
    }
    &-button {
      height: 30px;
      color: #000060;
      border: 1px solid $blue;
      background-color: $orange;
      border-radius: 4px;
    }
  }
}
