.how {
  width: 45%;
  display: flex;
  justify-content: center;
  // align-items: ;
  flex-direction: column;
  margin: 20px auto;

  &__text {
    color: $blue;
  }
  &__div {
    margin: 0;
    &-text {
      color: $blue;
    }
  }
}
