.how {
  width: 70%;
  display: flex;
  justify-content: center;
  // align-items: ;
  margin: 20px auto;

  &__text {
    color: $blue;
  }
  &__div {
    margin: 0;
    &-text {
      color: $blue;
      width: 33%;
    }
  }
}
