.reason {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
  &__heading {
    color: #000060;
  }
  &__div {
    margin: 0 25%;
    &--left {
      width: 50%;
      margin-right: 10%;
    }
    &--right {
      width: 50%;
      margin-left: 0;
    }
    &-text {
      margin: 0 25%;
      color: #000060;
      text-align: center;
    }
  }
  &__list {
    padding: 0;

    &-item {
      color: #000060;
      list-style: unset;

      &:hover {
        color: #ff8400;
      }
    }
  }
  &__flex {
    display: flex;
  }
}
