.reason {
  color: $grey;
  height: 400px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  flex-direction: column;
  &__heading {
    color: $blue;
  }
  &__div {
    margin: 0 25%;
    &--left {
      width: 50%;
      padding-left: 4%;
    }
    &--right {
      width: 50%;
    }
    &-text {
      color: $blue;
      text-align: center;
    }
  }
  &__list {
    padding: 0;

    &-item {
      color: $blue;
      list-style: unset;

      &:hover {
        color: $orange;
      }
    }
  }
  &__flex {
    display: flex;
  }
}
