.stressFree {
  background-color: $blue;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  &__text {
    color: $white;
  }
  &__div {
    width: 40%;
    margin: 0 auto;
    &-text {
      color: $white;
      text-align: justify;
    }
  }
}
